
  .slide-in-out,
  .slide-in-out1 {
    position: absolute;
    left: 0;
    top: 50%; /* Set initial position to the middle */
    transform: translateY(-50%); /* Adjust for vertical alignment */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide any overflowing text */
  }
  
  .slide-in-out.animated {
    animation: slideInOut 8s linear forwards;
  }
  
  .slide-in-out1.animated {
    animation: slideInOut1 10s linear forwards;
  }
  
  @keyframes slideInOut {
    0% {
      transform: translateX(calc(-150vw));
    }
    100% {
      transform: translateX(calc(150% + 150vw));
    }
  }
  
  @keyframes slideInOut1 {
    0% {
      transform: translateX(calc(-150vw));
    }
    100% {
      transform: translateX(calc(150% + 150vw));
    }
  }
  
